<a href="https://colab.research.google.com/github/dataengineerWild/wildTestChallenge/blob/main/dataengineer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
link = '/content/drive/MyDrive/dataengineer/adress.csv'

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from geopy.geocoders import Nominatim
geocoder = Nominatim()

df_adress = pd.read_csv(link)
df_adress.head()

   address_id                  address           city  postal_code
0           1     318 CHE DE ROUMAGOUA      LA CIOTAT        13600
1           2         19 RUE DES DAMES  SAINTE SAVINE        10300
2           3  22 RUE AMIRAL GUEPRATTE     LE CONQUET        29217
3           4          6 BD DES ETINES      LE COTEAU        42120
4           5      35 AV DU 159EME RIA       BRIANCON         5100

In [3]:
df_adress.isnull().sum()

address_id     0
address        0
city           0
postal_code    0
dtype: int64

In [4]:
location = geocoder.geocode('LYON 6EME')
print(location.latitude, location.longitude)

45.765004 4.8440199

In [5]:
df_adress['address_comp'] = df_adress[['address', 'city']].apply(', '.join, axis=1)
df_adress.head()

,address_id,address,city,postal_code,address_comp
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,"318 CHE DE ROUMAGOUA, LA CIOTAT"
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,"19 RUE DES DAMES, SAINTE SAVINE"
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,"22 RUE AMIRAL GUEPRATTE, LE CONQUET"
3,4,6 BD DES ETINES,LE COTEAU,42120,"6 BD DES ETINES, LE COTEAU"
4,5,35 AV DU 159EME RIA,BRIANCON,5100,"35 AV DU 159EME RIA, BRIANCON"

iloc: Indexation purement basée sur l'emplacement des nombres entiers pour la sélection par position

In [6]:
df_adress[['address_comp']].iloc[4]

address_comp    35 AV DU 159EME RIA, BRIANCON
Name: 4, dtype: object

In [7]:
df_adress['location'] = df_adress['city'].apply(lambda x:geocoder.geocode(x,timeout = 10000))

In [8]:
df_adress['longitude'] = df_adress['location'].apply(lambda x:x.longitude if x else None) 
df_adress['latitude'] = df_adress['location'].apply(lambda x:x.latitude if x else None)

In [9]:
df_adress.head(10)

,address_id,address,city,postal_code,address_comp,location,longitude,latitude
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,"318 CHE DE ROUMAGOUA, LA CIOTAT","(La Ciotat, Marseille, Bouches-du-Rhône, Prove...",5.606249,43.175859
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,"19 RUE DES DAMES, SAINTE SAVINE","(Sainte-Savine, Troyes, Aube, Grand Est, Franc...",4.056536,48.293152
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,"22 RUE AMIRAL GUEPRATTE, LE CONQUET","(Le Conquet, Brest, Finistère, Bretagne, Franc...",-4.770906,48.360529
3,4,6 BD DES ETINES,LE COTEAU,42120,"6 BD DES ETINES, LE COTEAU","(Le Coteau, Roanne, Loire, Auvergne-Rhône-Alpe...",4.092030,46.020500
4,5,35 AV DU 159EME RIA,BRIANCON,5100,"35 AV DU 159EME RIA, BRIANCON","(Briançon, Hautes-Alpes, Provence-Alpes-Côte d...",6.643631,44.898404
5,6,36 RUE D EN HAUT,BRUNEMONT,59151,"36 RUE D EN HAUT, BRUNEMONT","(Brunémont, Douai, Nord, Hauts-de-France, Fran...",3.141399,50.271708
6,7,1625 RTE DE CHAMBERY,SAINT-ISMIER,38330,"1625 RTE DE CHAMBERY, SAINT-ISMIER","(Saint-Ismier, Grenoble, Isère, Auvergne-Rhône...",5.826152,45.248168
7,8,3 RUE MONTESQUIEU,ASNIERES-SUR-SEINE,92600,"3 RUE MONTESQUIEU, ASNIERES-SUR-SEINE","(Asnières-sur-Seine, Arrondissement de Nanterr...",2.289045,48.910595
8,9,35 RUE PORTE ST JEAN,ORLEANS,45000,"35 RUE PORTE ST JEAN, ORLEANS","(Orléans, Loiret, Centre-Val de Loire, France ...",1.908607,47.902734
9,10,67 BD COMMANDANT CHARCOT,NEUILLY-SUR-SEINE,92200,"67 BD COMMANDANT CHARCOT, NEUILLY-SUR-SEINE","(Neuilly-sur-Seine, Arrondissement de Nanterre...",2.269566,48.884683

On determine le nombre d'adresses isnull (qui ne renvoient pas de coordonnées long. lat.)

In [ ]:
# df_adress['location'].isnull().sum()

On stocke les adresses isnull dans une nouvelle table df_nan et on les affiche

In [ ]:
# df_nan = df_adress[df_adress['location'].isnull()]
# df_nan.head()

On attribut une nouvelle valeur aux colonnes location, longitude et latitude.

In [12]:
# df_nan['location'] = df_nan['city'].apply(lambda x:geocoder.geocode(x,timeout = 10))
# df_nan['longitude'] = df_nan['location'].apply(lambda x:x.longitude if x else None) 
# df_nan['latitude'] = df_nan['location'].apply(lambda x:x.latitude if x else None)

In [ ]:
# df_nan.head()

In [ ]:
# df_nan['location'].isnull().sum()

Affiche le type de données

In [16]:
df_adress.dtypes

address_id        int64
address          object
city             object
postal_code       int64
address_comp     object
location         object
longitude       float64
latitude        float64
dtype: object

On supprime les colonnes dont on a plus besoin

In [21]:
df_update = df_adress.drop(["address_comp", "location"], axis=1)

In [22]:
df_update

,address_id,address,city,postal_code,longitude,latitude
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,5.606249,43.175859
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,4.056536,48.293152
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,-4.770906,48.360529
3,4,6 BD DES ETINES,LE COTEAU,42120,4.092030,46.020500
4,5,35 AV DU 159EME RIA,BRIANCON,5100,6.643631,44.898404
...,...,...,...,...,...,...
557,601,20 RUE COLI,MONTREUIL,93100,1.763113,50.463892
558,602,6 AV JEAN JAURES,FEURS,42110,4.221512,45.744074
559,603,1 RUE HENRI RENAUDIN,CHARLEVILLE-MEZIERES,8000,4.720694,49.773571
560,604,2 RUE DE LYON,EPINAY SUR SEINE,93800,2.314504,48.952518
561,605,4 RUE DENIS PAPIN,BLAIN,44130,-1.764365,47.475554

On convertit le fichier pour l'exporter

In [26]:
from google.colab import files
df_update.to_csv('df_updateAdress.csv', index = False) 
files.download("df_updateAdress.csv")